@import url('style.css');

body {
    background-color: aliceblue !important;
    color: #333 !important;
}

hr {
    background-color: #333 !important;
}

a {
    color: rgb(255, 128, 0) !important;
}

.reports button {
    background-color: #333 !important;
    color: aliceblue !important;
}

.reports button:hover {
    background-color: aliceblue !important;
    color: #333 !important;
    box-shadow: #333 5px 5px 0 !important;
}

.reports button:active {
    box-shadow: #333 0 0 10px !important;
}

.works div span {
    color: #797979 !important;
    font-style: italic !important;
}

.dark-light button {
    cursor: pointer !important;
}

.closed {
    color: #fff !important;
    background-color: #333 !important;
}

.popup_img-wrap {
    background-color: #ff800057;
    border: solid #ff80004f 3px;
    padding: 3em;
    border-radius: 7px;
}